* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    background-color: rgb(40, 40, 40);
}

header {
    background-color: rgba(20, 20, 20);
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.navbar-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;
}

.navbar-body {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.navbar-body a {
    padding: 15px 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 7px;
    transition: background-color 0.3s ease;
}

.navbar-body a:hover {
    background-color: rgb(60, 60, 60);
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1200px;
    margin: 30px auto;
}

.series {
    display: grid;
    grid-template-columns: 33% 33% 33% 33%;
    gap: 10px;
    color: #fff;
}

.serie {
    width: 201px;
    height: 350px;
    overflow-wrap: break-word;
}

.serie-img {
    width: 201px;
    height: 300px;
}

.serie-title {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: 50px;
}

.serie img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 7px;
}

